<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartu">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:exported="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!--
        El splash lo establezco a portrait para que durante la carga no haya problemas de
        leak memory ni View attached window, no uso fragment porque no hay necesidad
        -->
        <activity
            android:name=".vistas.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SinActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".servicios.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".servicios.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".vistas.InstruccionesMainActivity"
            android:theme="@style/SinActionBar" />
        <activity
            android:name=".vistas.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".vistas.ProyectoActivity"
            android:label="@string/title_activity_proyecto"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".vistas.MainActivity"
            />
        <activity android:name=".vistas.VideoActivity" />
        <activity android:name=".vistas.ImagenActivity" />
        <activity android:name=".vistas.Imagen360Activity" />
        <activity
            android:name=".vistas.UsuarioActivity"
            android:label="@string/title_activity_usuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.ProyectosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.ContactoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.AreasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.MensajesActivity"
            android:label="@string/title_activity_mensajes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="smartu-40a26.firebaseio.com"
                    android:pathPrefix="/chat_rooms"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".vistas.RegistroActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>